*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/pattern-background-desktop.svg);
    background-position: 0 -50%;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 75vh;
    width: 25vw;
    border-radius: 12px;

}

.container__header{
    background-image: url(./images/illustration-hero.svg);
    height: 40%;
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
}


.plan__icon{
    width: 3rem;
    height: 3rem;
    margin-left: -1.5rem;
    background-image: url(./images/icon-music.svg);
    background-repeat: no-repeat;
    border-radius: 50%;
    
}
.container__body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    height: 60%;
    border-bottom-left-radius:12px ;
    border-bottom-right-radius: 12px;
}

.cta{
    background-color:hsl(225, 100%, 98%);
    display:flex;
    justify-content:space-around;
    align-items: center;
    width: 80%;
    height: 19%;
    position: absolute;
    margin-top: -4rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem;
    transform: translate(-50% -50%);
    border-radius: .7rem;
    box-shadow: 0px 5px 6px rgba(0,0,0, .3);

}
.plan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -1.2rem;

}
.plan__cta{
    padding: 0 1rem 0 1rem;
    margin-right: -3rem;
    margin-bottom: .25rem;
    
}

.container__body--text{
    text-align: center;
    padding: 1.5rem;
}

.btn{
    border: none;
    outline: none;
}
.plan__div{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.btn__payment{
    background-color: transparent;
    height: 15%;
    width: 45%;
    border-radius: 1.4rem;
    text-align: center;
    align-self: center;
}

.btn__link--payment{
    color: #fff;
    background-color: hsl(245, 75%, 52%);
    height: 10%;
    width: 60%; 
    border-radius: 8px;
    padding: 16px;
    position: absolute;
    left: 20%;
    bottom: 20%;
    text-align: center;
    line-height: 10%;
    

}
.btn__link{
    text-decoration: none;
    
}

.btn__link--cancel{
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    padding: 2rem;
    height: 10%;
    width: 50%;
    margin: 0 auto;
    color: hsl(224, 23%, 55%);
    background-color: transparent;
}
